* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 15px;
  font-weight: 400;
}

.ford-btnBlue {
  background-color: #0276b3;
  border: 1px solid #102b4e;
  padding: 15px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.ford-btnBlue:hover {
  color: #102b4e;
  background-color: #fff;
}

.ford-btnBlue:focus {
  outline: none;
}

.ford-btnRed {
  background-color: #d92e14;
  border: 1px solid #d92e14;
  padding: 13px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.ford-btnRed:hover {
  color: #d92e14;
  background-color: #fff;
}

.ford-btnRed:focus {
  outline: none;
}

#myback2Top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  color: #fff;
  font-size: 42px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: rgba(58, 58, 58, 0.5);
  cursor: pointer;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  transition: all .5s;
}

header {
  background-color: #f3f3f3;
  width: 95%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 2.5%;
  z-index: 19;
}

header .header__top {
  padding: 0 5%;
  justify-content: space-between;
}

header .header__top a {
  color: #0276b3;
  font-size: 12px;
  font-weight: 500;
}

header .header__top span a {
  color: #102b4e;
}

header .header__top span:hover a {
  text-decoration: none;
  color: #2861a4;
}

header .header__top .header__tl span:nth-child(1) {
  padding-right: 5px;
  margin-right: 10px;
  border-right: 1px solid #d6d5d5;
}

header .header__top .header__tl span:nth-child(1) img {
  width: 40px;
  height: 40px;
}

header .header__top .header__tr {
  display: flex;
  align-items: center;
}

header .header__top .header__tr span i {
  color: #102b4e;
  width: 40px;
  height: 40px;
}

header .header__top .header__tr span:hover i {
  color: #2861a4;
}

header .header__top .header__tr span a {
  color: #0276b3;
}

header .header__bottom {
  justify-content: space-between;
}

header .header__bottom .header__bl img {
  width: 140px;
  height: 70px;
  margin-left: 10px;
}

header .header__bottom .header__bl .navbar-nav a {
  color: #0276b3;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

header .header__bottom .header__bl .navbar-nav a:hover {
  color: #102b4e;
}

header .header__bottom .header__br .bi-person-fill {
  padding-bottom: 5px;
  font-size: 20px;
  color: #0276b3;
}

header .header__bottom .header__br ul {
  margin-right: 40px;
  padding: 0;
  height: 100%;
  display: flex !important;
  align-items: center !important;
  text-decoration: none !important;
}

header .header__bottom .header__br ul a {
  color: #0276b3;
  font-size: 12px;
  font-weight: 500;
  padding: 0 0.4rem;
  margin-right: 15px;
}

header .header__bottom .header__br ul a:hover {
  color: #102b4e;
}

.carsousel {
  width: 95%;
  margin: auto;
}

.carsousel .carousel__container {
  position: relative;
}

.carsousel .carousel__container img {
  width: 100%;
}

.carsousel .carousel__container .carousel__content {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 3;
}

.carsousel .carousel__container .carousel__content h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 400;
}

.carsousel .carousel__container .carousel__content span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.carsousel .carousel__container .carousel__content span a i {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
}

.carsousel .carousel__container .carousel__content span a:hover i {
  fill: #fff;
}

.intro {
  width: 95%;
  margin: auto;
  padding: 15px 0;
  text-align: center;
}

.intro .intro__containter {
  display: grid;
  grid-row-gap: 12px;
}

.intro .intro__containter h1 {
  font-size: 42px;
  font-weight: 400;
}

.intro .intro__containter img {
  margin: auto;
  width: 35%;
}

.intro .intro__containter button {
  margin: auto;
  width: 30%;
}

.intro .intro__containter .intro__number {
  font-size: 1.3em;
  color: #0276b3;
}

.intro .intro__containter .intro__price {
  font-size: 1.2em;
}

.intro .intro__containter .intro__offers {
  color: #0276b3;
  font-weight: 500;
}

.intro .intro__containter .intro__offers:hover {
  text-decoration: none;
  color: #2861a4;
}

.sweeten__deal {
  width: 95%;
  margin: auto;
  cursor: pointer;
}

.sweeten__deal .sweeten__head {
  height: 200px;
  background-image: url("../img/let-us.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.sweeten__deal .sweeten__head h2 {
  padding-top: 15px;
  margin-bottom: 100px;
  color: #fff;
  font-size: 42px;
  font-weight: 500;
}

.sweeten__deal .sweeten__head div {
  position: relative;
}

.sweeten__deal .sweeten__head div span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.sweeten__deal .sweeten__head div i {
  position: absolute;
  bottom: 4px;
  margin-left: 10px;
  color: white;
}

.sweeten__deal .sweeten__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sweeten__deal .sweeten__content .sweeten__item {
  position: relative;
  overflow: hidden;
}

.sweeten__deal .sweeten__content .sweeten__item img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.sweeten__deal .sweeten__content .sweeten__item .item__intro {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(2, 118, 179, 0.9);
  padding: 10px;
}

.sweeten__deal .sweeten__content .sweeten__item .item__intro span {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.sweeten__deal .sweeten__content .sweeten__item .item__intro i {
  color: white;
}

.sweeten__deal .sweeten__content .sweeten__item:hover img {
  transform: scale(1.1);
}

.sweeten__deal .sweeten__content .item-happen {
  grid-column: 1 / 4;
  padding-top: 13%;
  text-align: center;
}

.sweeten__deal .sweeten__content .item-happen h3 {
  color: #333;
  font-size: 30px;
  font-weight: 500;
}

.sweeten__deal .sweeten__content .item-happen p {
  color: #626466;
  font-size: 16px;
  font-weight: 500;
}

.sweeten__deal .sweeten__content .item-biggest {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.sweeten__deal .sweeten__content .item-biggest .item__intro {
  padding: 20px 10px;
}

.sweeten__deal .sweeten__content .item-biggest .item__intro span {
  font-size: 24px;
}

.sweeten__deal .sweeten__content .item-biggest .item__intro i {
  font-size: 40px;
}

.sweeten__deal .sweeten__bottom {
  background-color: #0276b3;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0;
}

.sweeten__deal .sweeten__bottom span {
  margin-right: 10px;
}

.sweeten__deal .sweeten__bottom .fa-minus-circle {
  display: none;
}

.airbag__residents {
  width: 95%;
  margin: auto;
  background-color: #f7f7f7;
}

.airbag__residents .airbag__residents__content {
  padding: 35px 0 70px 0;
}

.airbag__residents .airbag__residents__content .airbag__residents__title {
  color: #d92e14;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 1px;
}

.airbag__residents .airbag__residents__content .airbag__residents__btn {
  margin-top: 35px;
  width: 260px;
  letter-spacing: 1px;
}

.disclosures {
  width: 95%;
  margin: auto;
}

.disclosures .disclosures__content .disclosures__btn {
  margin-top: 25px;
  text-align: center;
  color: #0276b3;
  font-size: 16px;
  font-weight: 400;
}

.disclosures .disclosures__content .disclosures__btn .disclosures__btn__title {
  margin-right: 10px;
}

.disclosures .disclosures__content .disclosures__btn:hover {
  color: #102b4e;
  cursor: pointer;
}

.disclosures .disclosures__content .disclosures__paragraph {
  background: #f7f7f7;
  margin-top: 25px;
  padding: 40px 6%;
  max-height: 240px;
  overflow-y: scroll;
  display: none;
  font-size: 13px;
}

.disclosures .disclosures__content .fa-angle-up {
  display: none;
}

.cali__residents {
  width: 95%;
  margin: auto;
  background-color: #092a46;
}

.cali__residents .cali__residents__content .cali__residents__title,
.cali__residents .cali__residents__content .cali__residents__text {
  color: #fff;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 1px;
}

.cali__residents .cali__residents__content .cali__residents__text {
  font-size: 16px;
}

.cali__residents .cali__residents__content .cali__residents__text a {
  color: #37a9e8;
  text-decoration: underline;
}

.cali__residents .cali__residents__content .cali__residents__text a:hover {
  color: #37a9e8;
}

.search {
  width: 95%;
  margin: auto;
  background-color: #333;
}

.search .search__content {
  padding: 35px 100px;
}

.search .search__content .search__content__left .search__form .search__form__btn {
  background-color: #333;
  border: 1px solid #333;
  padding: 5px 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.search .search__content .search__content__left .search__form .search__form__btn:focus {
  outline: none;
}

.search .search__content .search__content__left .search__form .search__form__input {
  height: 45px;
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

.search .search__content .search__content__left .search__form .search__form__input:focus {
  outline: none;
}

.search .search__content .search__content__left .search__form .search__form__input::placeholder {
  color: #fff;
}

.search .search__content .search__content__right {
  padding-top: 10px;
}

.search .search__content .search__content__right a {
  color: #a1a7b3;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.search .search__content .search__content__right a:hover {
  color: #fff;
  text-decoration: none;
}

.search .search__content .search__content__right .active {
  color: #fff;
}

.categories {
  width: 95%;
  margin: auto;
}

.categories .categories__content .categories__top {
  background-color: #242424;
  padding: 25px 70px 90px 50px;
  min-height: 475px;
}

.categories .categories__content .categories__top .categories__top__list {
  list-style: none;
}

.categories .categories__content .categories__top .categories__top__list .categories__list__title {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0;
}

.categories .categories__content .categories__top .categories__top__list .categories__list__item {
  padding-bottom: 2px;
}

.categories .categories__content .categories__top .categories__top__list .categories__list__item a {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: 400;
}

.categories .categories__content .categories__top .categories__top__list .categories__list__item a:hover {
  text-decoration: none;
  color: #fff;
}

.categories .categories__content .categories__top .card {
  background-color: #242424;
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #686f7a;
}

.categories .categories__content .categories__top .card .card-header {
  padding: 10px 40px;
  padding-top: 25px;
  border-bottom: 1px solid #686f7a;
}

.categories .categories__content .categories__top .card .card-header .btn.btn-block .text-collapse,
.categories .categories__content .categories__top .card .card-header .btn.btn-block .icon-collapse {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-left: -50px;
}

.categories .categories__content .categories__top .card .card-header .btn.btn-block .icon-collapse {
  position: absolute;
  right: 5%;
  top: 22px;
  font-size: 1.7rem;
}

.categories .categories__content .categories__top .card .card-header .btn.btn-block:focus {
  box-shadow: none;
}

.categories .categories__content .categories__top .card .collapse .card-body .categories__list__item {
  padding-bottom: 2px;
}

.categories .categories__content .categories__top .card .collapse .card-body .categories__list__item a {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: 400;
}

.categories .categories__content .categories__top .card .collapse .card-body .categories__list__item a:hover {
  text-decoration: none;
  color: #fff;
}

.categories .categories__content .categories__bottom {
  background-color: #102b4e;
  padding: 0 5%;
}

.categories .categories__content .categories__bottom .categories__bottom__items {
  margin: 40px 0 25px 0;
}

.categories .categories__content .categories__bottom .categories__bottom__items:hover {
  cursor: pointer;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__left i {
  font-size: 1.1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0276b3;
  padding: 12px;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__text__left {
  line-height: 45px;
  margin-left: 15px;
  color: #37a9e8;
  font-size: 20px;
  font-weight: 400;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__text__right {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__text__right:hover {
  cursor: auto;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__right {
  font-size: 1.1rem;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__right .fab {
  width: 35px;
  height: 40px;
  padding: 12px 10px;
  margin-right: 10px;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__right .fa-facebook-square {
  background-color: #3c5b99;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__right .fa-twitter {
  background-color: #1da2f3;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__right .fa-youtube {
  background-color: #ff0100;
}

.categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__right .fa-instagram {
  background-color: #dc2c75;
}

footer {
  width: 95%;
  margin: auto;
  background-color: #f7f7f7;
}

footer .footer__content {
  margin: 0 4%;
  padding: 50px 0 20px 0;
}

footer .footer__content .footer__change a {
  color: #0276b3;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}

footer .footer__content .footer__change a:hover {
  color: #092a46;
}

footer .footer__content .footer__change a i {
  font-size: 1.5rem;
  margin-right: 25px;
}

footer .footer__content .footer__change a p {
  text-decoration: underline;
}

footer .footer__content .footer__logo, footer .footer__content .footer__logo__bottom {
  text-align: right;
  margin-top: -20px;
}

footer .footer__content .footer__logo a img, footer .footer__content .footer__logo__bottom a img {
  width: 100px;
}

footer .footer__content .footer__copyright .copyright {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0 10px 0;
}

footer .footer__content .footer__copyright .copyright i {
  font-size: 12px;
  margin-right: 2px;
}

footer .footer__content .footer__copyright .copyright:hover {
  cursor: pointer;
}

footer .footer__content .footer__list .footer__list__menu {
  list-style: none;
}

footer .footer__content .footer__list .footer__list__menu .footer__list__item {
  display: inline-block;
  margin-right: 20px;
}

footer .footer__content .footer__list .footer__list__menu .footer__list__item a {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

footer .footer__content .footer__list .footer__list__menu .footer__list__item a:hover {
  color: #092a46;
}

@media screen and (max-width: 1200px) {
  header {
    width: 100%;
  }
  header #txtAcount {
    display: none;
  }
  header .header__bottom .header__bl .navbar-nav a {
    margin-left: 2px;
  }
  header .header__bottom .header__br ul a {
    margin-right: 2px;
  }
  .carsousel {
    width: 100%;
  }
  .intro {
    width: 100%;
  }
  .sweeten__deal {
    width: 100%;
  }
  .airbag__residents {
    width: 100%;
  }
  .disclosures {
    width: 100%;
  }
  .cali__residents {
    width: 100%;
  }
  .search {
    width: 100%;
  }
  .categories {
    width: 100%;
  }
  .categories .categories__content .categories__bottom .categories__bottom__items {
    margin-top: 5px;
  }
  .categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__left,
  .categories .categories__content .categories__bottom .categories__bottom__items .categories__text__left {
    margin-top: 60px;
  }
  footer {
    width: 100%;
  }
  footer .footer__content .footer__list .footer__list__menu {
    width: 80%;
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  header .header__br {
    display: none;
  }
  header .header__bl {
    width: 100%;
    justify-content: space-between;
  }
  .airbag__residents .airbag__residents__content .airbag__residents__title {
    font-size: 37px;
  }
  .cali__residents .cali__residents__content .cali__residents__title {
    font-size: 37px;
  }
  .search .search__content {
    padding: 35px 50px;
  }
  .search .search__content .search__content__left .search__form .search__form__input {
    font-size: 24px;
  }
  .search .search__content .search__content__right a {
    font-size: 15px;
  }
  footer .footer__content .footer__list .footer__list__menu {
    width: 60%;
    margin-left: 0;
  }
  footer .footer__content .footer__list .footer__list__menu .footer__list__item {
    margin-right: 25px;
  }
}

@media screen and (max-width: 768px) {
  .carsousel {
    height: 150%;
  }
  .carsousel .carousel__content h1 {
    text-align: center !important;
    font-size: 24px !important;
  }
  .intro .intro__containter h1 {
    font-size: 30px !important;
  }
  .sweeten__deal .sweeten__head h2 {
    font-size: 28px;
  }
  .sweeten__deal .sweeten__head span, .sweeten__deal .sweeten__head i {
    font-size: 20px;
  }
  .sweeten__deal .sweeten__content {
    display: block;
  }
  .sweeten__deal .sweeten__content .item-happen {
    padding-bottom: 40px;
  }
  .sweeten__deal .sweeten__content .item-happen p {
    display: none;
  }
  .sweeten__deal .sweeten__content .item-hidden {
    display: none;
  }
  .sweeten__deal .sweeten__content .sweeten__item {
    max-height: 300px;
  }
  .sweeten__deal .sweeten__content .sweeten__item .item__intro {
    padding: 15px;
  }
  .sweeten__deal .sweeten__content .sweeten__item .item__intro span {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  .sweeten__deal .sweeten__content .sweeten__item .item__intro i {
    font-size: 40px;
  }
  .airbag__residents .airbag__residents__content .airbag__residents__title {
    font-size: 30px;
  }
  .cali__residents .cali__residents__content .cali__residents__title {
    font-size: 30px;
  }
  .cali__residents .cali__residents__content .cali__residents__text {
    font-size: 15px;
    letter-spacing: 0;
  }
  .search .search__content {
    padding: 35px;
  }
  .search .search__content .search__content__left {
    display: none;
  }
  .search .search__content .search__content__right {
    text-align: left !important;
  }
  .search .search__content .search__content__right a {
    font-size: 16px;
  }
  .categories .categories__content .categories__bottom .categories__bottom__items {
    padding: 0;
    margin-top: 25px;
  }
  .categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__left,
  .categories .categories__content .categories__bottom .categories__bottom__items .categories__text__left {
    margin-top: 0;
    padding-bottom: 20px;
  }
  .categories .categories__content .categories__bottom .categories__bottom__items .categories__text__right {
    margin-top: -50px;
    padding-left: 0;
  }
  .categories .categories__content .categories__bottom .categories__bottom__items .categories__text__right p {
    font-size: 13px;
  }
  .categories .categories__content .categories__bottom .categories__bottom__items .categories__icons__left i {
    width: 33px;
    height: 33px;
    font-size: 0.9rem;
    padding: 10px;
  }
  .categories .categories__content .categories__bottom .categories__bottom__items .categories__text__left {
    font-size: 15px;
    line-height: 35px;
  }
  .categories .categories__content .categories__bottom .line__bottom {
    border-bottom: 1px solid #686f7a;
  }
  footer .footer__content .footer__list .footer__list__menu .footer__list__item {
    display: block;
    padding-bottom: 10px;
  }
  footer .footer__content .footer__logo {
    display: none;
  }
  footer .footer__content .footer__logo__bottom {
    display: block !important;
    margin-left: -20px;
    margin-top: -30px;
  }
}
/*# sourceMappingURL=main.css.map */