.ford-btnBlue {
  @include styleButton($color-blue, $color-black-1, $pd-15, $pd-2);
  @include styleText($color-white-0, $fs-0 + 1, $fw-normal);
  text-align: center;
  &:hover {
    color: $color-black-1;
    background-color: $color-white-0;
  }
  &:focus {
    outline: none;
  }
}
.ford-btnRed {
  @include styleButton($color-red-0, $color-red-0, $pd-15 - 2, $pd-2);
  @include styleText($color-white-0, $fs-0 + 1, $fw-normal);
  text-align: center;
  &:hover {
    color: $color-red-0;
    background-color: $color-white-0;
  }
  &:focus {
    outline: none;
  }
}

#myback2Top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  @include styleText($color-white-0, $fs-4 + 2, $fw-normal);
  border: none;
  outline: none;
  background-color: rgba($color: #3a3a3a, $alpha: 0.5);
  cursor: pointer;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  transition: all .5s;
}
