.categories {
  width: 95%;
  margin: auto;
  .categories__content {
    .categories__top {
      background-color: #242424;
      padding: 25px 70px 90px 50px;
      min-height: 475px;
      .categories__top__list {
        list-style: none;
        .categories__list__title {
          @include styleText($color-white-0, $fs-0 + 1, $fw-normal);
          margin: $mg-2 0;
        }
        .categories__list__item {
          padding-bottom: $mg-0;
          a {
            @include styleText($color-gray-8, $fs-0 + 1, $fw-normal);
            &:hover {
              text-decoration: none;
              color: $color-white-0;
            }
          }
        }
      }
      .card {
        background-color: #242424;
        border-radius: 0;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid $color-gray-4;
        .card-header {
          padding: $pd-1 40px;
          padding-top: 25px;
          border-bottom: 1px solid $color-gray-4;
          .text-collapse,
          .icon-collapse {
            @include styleText($color-white-0, $fs-0 + 1, $fw-normal);
            margin: $mg-2 0;
            margin-left: -20px;
          }
          .icon-collapse {
            position: absolute;
            right: 5%;
            top: 0;
          }
        }
        .collapse {
          .card-body {
            .categories__list__item {
              padding-bottom: $mg-0;
              a {
                @include styleText($color-gray-8, $fs-0 + 1, $fw-normal);
                &:hover {
                  text-decoration: none;
                  color: $color-white-0;
                }
              }
            }
          }
        }
      }
    }
    .categories__bottom {
      background-color: $color-blue-geo;
      padding: 0 5%;
      .categories__bottom__items {
        margin: 40px 0 25px 0;
        &:hover {
          cursor: pointer;
        }
        .categories__icons__left {
          i {
            font-size: 1.1rem;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $color-blue;
            padding: 12px;
          }
        }
        .categories__text__left {
          line-height: 45px;
          margin-left: $mg-1 + 5;
          @include styleText(#37a9e8, $fs-2, $fw-normal);
        }
        .categories__text__right {
          @include styleText($color-white-0, $fs-1 + 2, $fw-normal);
          padding: 10px;
          &:hover {
            cursor: auto;
          }
        }
        .categories__icons__right {
          font-size: 1.1rem;
          .fab {
            width: 35px;
            height: 40px;
            padding: 12px 10px;
            margin-right: $mg-1;
          }
          .fa-facebook-square {
            background-color: #3c5b99;
          }
          .fa-twitter {
            background-color: #1da2f3;
          }
          .fa-youtube {
            background-color: #ff0100;
          }
          .fa-instagram {
            background-color: #dc2c75;
          }
        }
      }
    }
  }
}
