header {
  background-color: #f3f3f3;
  width: 95%;
  margin: auto;

  position: fixed;
  top: 0;
  left: 2.5%;
  z-index: 5;
  .header__top {
    padding: 0 5%;
    justify-content: space-between;
    a {
      @include styleText($color-blue-ford-1, $fs-1, $fw-bold-0 - 100);
    }
    span {
      a {
        color: $color-blue-geo;
      }
      &:hover {
        a {
          text-decoration: none;
          color: $color-blue-ford-covertxt;
        }
      }
    }
    .header__tl {
      span:nth-child(1) {
        padding-right: $pd-0;
        margin-right: $mg-1;
        img {
          width: 40px;
          height: 40px;
        }
        border-right: 1px solid $color-gray-7;
      }
    }

    .header__tr {
      display: flex;
      align-items: center;
      span {
        i {
          color: $color-blue-geo;
          width: 40px;
          height: 40px;
        }
        &:hover {
          i {
            color: $color-blue-ford-covertxt;
          }
        }
        a {
          color: $color-blue-ford-1;
        }
      }
    }
  }

  .header__bottom {
    justify-content: space-between;
    .header__bl {
      img {
        width: 140px;
        height: 70px;
        margin-left: $mg-1;
      }

      .navbar-nav {
        a {
          @include styleText($color-blue-ford-1, $fs-0 - 1, $fw-normal-1);
          margin-left: $mg-1;
          &:hover {
            color: $color-blue-geo;
          }
        }
      }
    }

    .header__br {
      .bi-person-fill {
        padding-bottom: $pd-0;
        font-size: 20px;
        color: $color-blue-ford-1;
      }
      ul {
        margin-right: 40px;
        padding: 0;
        height: 100%;
        display: flex !important;
        align-items: center !important;
        text-decoration: none !important;
        a {
          @include styleText($color-blue-ford-1, $fs-1, $fw-normal-1);
          padding: 0 0.4rem;
          margin-right: $mg-1 + 5;
          &:hover {
            color: $color-blue-geo;
          }
        }
      }
    }
  }
}
