// Responsive
// Screen > 1200
@media screen and (min-width: 1200px) {
  // ===============================================================================
}
// screen < 1200
@include responsive("extra-large") {
  // Start Header
  header {
    width: 100%;
    #txtAcount {
      display: none;
    }
    .header__bottom {
      .header__bl {
        .navbar-nav {
          a {
            margin-left: $mg-0;
          }
        }
      }
      .header__br {
        ul {
          a {
            margin-right: $mg-0;
          }
        }
      }
    }
  }
  // ===============================================================================
  //START AIR__BAG
  .airbag__residents {
    width: 100%;
  }
  //END AIR__BAG
  //START DISCLOSURES
  .disclosures {
    width: 100%;
  }
  //END DISCLOSURES
  //START CALI
  .cali__residents {
    width: 100%;
  }
  //END CALI
  //START SEARCH
  .search {
    width: 100%;
  }
  //END SEARCH
  //START categories
  .categories {
    width: 100%;
    .categories__content {
      .categories__bottom {
        .categories__bottom__items {
          margin-top: 5px;
          .categories__icons__left,
          .categories__text__left {
            margin-top: 60px;
          }
        }
      }
    }
  }
  //END categories
  //START FOOTER
  footer {
    width: 100%;
    .footer__content {
      .footer__list {
        .footer__list__menu {
          width: 80%;
          margin-left: 0;
        }
      }
    }
  }
  //END FOOTER
}
// screen < 992
@include responsive("large") {
  // Start Header
  header {
    .header__br {
      display: none;
    }
    .header__bl {
      width: 100%;
      justify-content: space-between;
    }
  }
  // ===============================================================================
  //START AIR__BAG
  .airbag__residents {
    .airbag__residents__content {
      .airbag__residents__title {
        font-size: $fs-4 - 3;
      }
    }
  }
  //END AIR__BAG
  //START CALI
  .cali__residents {
    .cali__residents__content {
      .cali__residents__title {
        font-size: $fs-4 - 3;
      }
    }
  }
  //END CALI
  //START SEARCH
  .search {
    .search__content {
      padding: 35px 50px;
      .search__content__left {
        .search__form {
          .search__form__input {
            font-size: $fs-3;
          }
        }
      }
      .search__content__right {
        a {
          font-size: $fs-0;
        }
      }
    }
  }
  //END SEARCH
  //START FOOTER
  footer {
    .footer__content {
      .footer__list {
        .footer__list__menu {
          width: 60%;
          margin-left: 0;
          .footer__list__item {
            margin-right: 25px;
          }
        }
      }
    }
  }
  //END FOOTER
}

// screen < 768
@include responsive("medium") {
  // START CAROUSEL SECTION
  .carsousel {
    height: 150%;
    .carousel__content {
      // text-align: center;
      h1 {
        text-align: center !important;
        font-size: $fs-3 !important;
      }
      
    }
  }
  // END CAROUSEL SECTION

  // Start INTRO section
    .intro{
      .intro__containter{
        h1{
          font-size: 30px !important;
        }
      }
    }
  // End Intro section

  // Start Sweeten section
    .sweeten__deal{
      .sweeten__head{
        h2{
          font-size: $fs-3 + 4;
        }
        span, i {
          font-size:  $fs-2;
        }
      }
      .sweeten__content{
        display: block;
        .item-happen{
          p{
            display: none;
          }
          padding-bottom: 40px;
        }

        .item-hidden{
          display: none;
        }

        .sweeten__item{
          max-height: 300px;
          .item__intro{
            padding: 15px;
            span{
              @include styleText($color-white-0, $fs-2, $fw-normal);
            }
            i{
              font-size: $fs-4;
            }
          }
          
        }
      }
    }
  // End Sweeten section

  // ===============================================================================
  //START AIR__BAG
  .airbag__residents {
    .airbag__residents__content {
      .airbag__residents__title {
        font-size: 30px;
      }
    }
  }
  //END AIR__BAG
  //START CALI
  .cali__residents {
    .cali__residents__content {
      .cali__residents__title {
        font-size: 30px;
      }
      .cali__residents__text {
        font-size: $fs-0;
        letter-spacing: 0;
      }
    }
  }
  //END CALI
  //START SEARCH
  .search {
    .search__content {
      padding: 35px;
      .search__content__left {
        display: none;
      }
      .search__content__right {
        text-align: left !important;
        a {
          font-size: $fs-0 + 1;
        }
      }
    }
  }
  //END SEARCH
  // START categories
  .categories {
    .categories__content {
      .categories__bottom {
        .categories__bottom__items {
          padding: 0;
          margin-top: $mg-2;
          .categories__icons__left,
          .categories__text__left {
            margin-top: 0;
            padding-bottom: $pd-2;
          }
          .categories__text__right {
            margin-top: -50px;
            padding-left: 0;
            p {
              font-size: $fs-1 + 1;
            }
          }
          .categories__icons__left {
            i {
              width: 33px;
              height: 33px;
              font-size: 0.9rem;
              padding: 10px;
            }
          }
          .categories__text__left {
            font-size: $fs-0;
            line-height: 35px;
          }
        }
        .line__bottom {
          border-bottom: 1px solid $color-gray-4;
        }
      }
    }
  }
  //END categories
  footer {
    .footer__content {
      .footer__list {
        .footer__list__menu {
          .footer__list__item {
            display: block;
            padding-bottom: $pd-1;
          }
        }
      }
      .footer__logo{
        display: none;
      }
      .footer__logo__bottom{
        display: block !important;
        margin-left: -20px;
        margin-top: -30px;
      }
    }
  }
}

// <576
@include responsive("small") {
  // ===============================================================================
}
